.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-top > div {
  margin-top: 10px;
}
.field {
  width: 500px;
}
.area {
  height: 100px;
  width: 500px;
}
.form-middle {
  margin: 10px 0;
}
.form-bottom {
  margin: 10px 0;
}
.submit-btn {
  font-size: 20px;
  height: 50px;
  width: 100px;
  margin: 10px 0;
}