header {
  height: 15vh;
  background-color:mistyrose;
}
.header-top-page {
  display: flex;
  justify-content: space-between;
}
.header-my-page {
  display: flex;
  justify-content: space-between;
}
.header-details-page {
  display: flex;
  justify-content: space-between;
}
.header-company-page {
  display: flex;
  justify-content: space-between;
}
.header-form-page {
  display: flex;
  justify-content: space-between;
}
.header-sign-in-page {
  display: flex;
}

.header-left {
  height: 15vh;
  width: 20vw;
  display: flex;
  align-items: center;
}
.nurho-icon {
  width: 8vw;
  height: 12vh;
  margin-left: 2vw;
}

.header-top-page > .header-middle {
  height: 15vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}
.header-my-page > .header-middle {
  height: 15vh;
  width: 60vw;
}
.header-details-page > .header-middle {
  height: 15vh;
  width: 60vw;
}
.header-sign-in-page > .header-middle {
  height: 15vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-company-page > .header-middle {
  height: 15vh;
  width: 60vw;
}
.header-form-page > .header-middle {
  height: 15vh;
  width: 60vw;
}
.header-top-page > .header-middle > .title {
  font-size: 30px;
  text-align: center;
  margin: 2vh 0 1vh;
}
.header-details-page > .header-middle > .top {
  font-size: 30px;
  text-align: center;
  margin-top: 3vh;
}
.header-details-page > .header-middle > .bottom {
  font-size: 20px;
  text-align: center;
}
.header-my-page > .header-middle > .title {
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
}
.header-company-page > .header-middle > .title {
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
}
.header-form-page > .header-middle > .title {
  font-size: 30px;
  text-align: center;
  margin-top: 5vh;
}
.header-top-page > .header-right {
  height: 15vh;
  width: 20vw;
}
.header-details-page > .header-right {
  height: 15vh;
  width: 20vw;
}
.header-my-page > .header-right {
  height: 15vh;
  width: 20vw;
}
.header-company-page > .header-right {
  height: 15vh;
  width: 20vw;
  display: flex;
}
.header-form-page > .header-right {
  height: 15vh;
  width: 20vw;
}
.header-top-page > .header-right > .top {
  font-size: 20px;
  text-align: center;
  margin-top: 5vh;
}
.header-top-page > .header-right > .bottom {
  text-align: center;
}
.header-details-page > .header-right > .top {
  font-size: 20px;
  text-align: center;
  margin-top: 5vh;
}
.header-details-page > .header-right > .bottom {
  text-align: center;
}
.header-my-page > .header-right > .logout-block{
  text-align: center;
  margin-top: 5vh;
}
.header-company-page > .header-right > .new-service-block {
  text-align: center;
  margin-top: 5vh;
}
.header-company-page > .header-right > .logout-block {
  text-align: center;
  margin-top: 5vh;
}
.search-button {
  font-size: 20px;
  color: pink;
  background-color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  cursor: pointer;
}
.mypage {
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}
.logout {
  font-size: 20px;
  text-decoration: none;
}
.login {
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}
.sign-up {
  font-size: 20px;
  text-decoration: none;
}
.new-service {
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}
