header {
  height: 15vh;
  background-color:mistyrose;
}
.header-top-page {
  display: flex;
  justify-content: space-between;
}
.header-company-page {
  display: flex;
}
.header-sign-in-page {
  display: flex;
}

.header-left {
  height: 15vh;
  width: 20vw;
  display: flex;
  align-items: center;
}
.nurho-icon {
  width: 8vw;
  height: 12vh;
  margin-left: 2vw;
}

.header-top-page > .header-middle {
  height: 15vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}
.header-sign-in-page > .header-middle {
  height: 15vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-company-page > .header-middle {
  height: 15vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.context {
  margin: 10px auto;
}
.search-button {
  font-size: 20px;
  color: pink;
  background-color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0 auto;
  cursor: pointer;
}
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  margin: 16px auto 0;
  background: #4caf50;
  color: white;
}
#mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#mask.hidden {
  display: none;
}

#modal {
  background: #fff;
  color: #555;
  width: 50vw;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transition: 0.4s;
}
#modal.hidden {
  transform: translate(0, -500px);
}

#modal p {
  margin: 0 0 20px;
}

.header-right {
  height: 15vh;
  width: 20vw;
}
.user-name {
  font-size: 20px;
  height: 10vh;
  width: 20vw;
  display: table-cell;
  vertical-align: bottom;
}
.mypage {
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}
.logout {
  font-size: 20px;
  text-decoration: none;
}
.login {
  font-size: 20px;
  text-decoration: none;
  margin-right: 20px;
}
.sign-up {
  font-size: 20px;
  text-decoration: none;
}
