.main {
  height: 80vh;
  background-color: lavenderblush;
  overflow: scroll;
}
.heart {
  height: 40px;
  width: 40px;
  margin: 10px 30px;
}
.service-lists {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-list {
  width: 800px;
  background-color: white;
  list-style-type: none;
  margin-bottom: 20px;
}
.service-list-top {
  text-align: center;
  border-bottom: 2px solid gainsboro;
  padding: 10px;
  margin-bottom: 10px;
}
.service-name {
  font-size: 28px;
  text-decoration: none;
}
.service-explanation {
  margin: 0 20px;
}
.service-list-middle {
  display: flex;
}
.service-table {
  margin: 20px;
}
.top-page-table {
  height: 350px;
  width: 350px;
}
.top-page-table-label {
  height: 50px;
  width: 120px;
  text-align: center;
}
.top-page-table-data {
  height: 50px;
  width: 230px;
  text-align: center;
}
.service-images {
  margin: 20px;
}
.service-images-top {
  margin-bottom: 10px;
}
.service-images-bottom{
  display: flex;
  justify-content: space-between;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details > .explanation {
  width: 750px;
  text-align: center;
  margin-top: 10px;
} 
.details > .condition {
  margin-top: 10px;
}
.details > .medical-system {
  margin-top: 20px;
}
.favorites {
  display: flex;
}
.option {
  display: flex;
  justify-content: center;
}
.edit-btn {
  font-size: 20px;
  text-decoration: none;
  margin: 10px 20px;
}
.finish-btn {
  font-size: 20px;
  text-decoration: none;
  margin: 10px 20px;
}