.main {
  height: 80vh;
  background-color: lavenderblush;
  overflow: scroll;
}
.service-lists {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-list {
  background-color: white;
  list-style-type: none;
  margin-bottom: 20px;
}
.service-name {
  font-size: 25px;
  text-decoration: none;
}
.service-list-middle {
  display: flex;
}
.service-table {
  margin: 10px;
}
.top-page-table {
  height: 350px;
  width: 350px;
}
.top-page-table-label {
  height: 50px;
  width: 120px;
  text-align: center;
}
.top-page-table-data {
  height: 50px;
  width: 230px;
  text-align: center;
}
.service-images {
  margin: 10px;
}
.service-images-top {
  margin-bottom: 10px;
}
.service-images-bottom{
  display: flex;
  justify-content: space-between;
}